@use "./variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive($size) {
  $query: map-get($breakpoints, $size);

  @media #{$query} {
    @content;
  }
}
