/************************************************
 * =Colors
 ************************************************/
$clr-primary-400: hsl(245, 75%, 52%);
$clr-primary-200: hsl(225, 100%, 94%);

$clr-neutral-100: hsl(225, 100%, 98%);
$clr-neutral-200: hsl(224, 23%, 55%);
$clr-neutral-600: hsl(223, 47%, 23%);

$clr-white: hsl(0, 0%, 100%);

$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

$ff: "Red Hat Display", sans-serif;
