/************************************************
 * =Colors
 ************************************************/
$clr-primary-400: hsl(245, 75%, 52%);
$clr-primary-200: hsl(225, 100%, 94%);

$clr-neutral-100: hsl(225, 100%, 98%);
$clr-neutral-200: hsl(224, 23%, 55%);
$clr-neutral-600: hsl(223, 47%, 23%);

$clr-white: hsl(0, 0%, 100%);

$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
$shadow-md: 0 1.25rem 1.25rem rgba($clr-primary-400, 0.2);
$shadow-lg: 0 2.5rem 2.5rem -1.25rem rgba($clr-neutral-600, 0.2);

$ff: "Red Hat Display", sans-serif;

/************************************************
 * =Typography
 ************************************************/
$fs-xxl: clamp(1.375rem, calc(1.375rem + ((1vw - 0.2rem) * 0.6818)), 1.75rem);
