@use "./variables" as *;
@use "./mixins" as *;
@use "./reset" as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background: url("../images/pattern-background-mobile.svg") no-repeat;
  background-size: 100%;
  background-color: $clr-primary-200;
  font-family: $ff;
  color: $clr-neutral-200;
  padding-inline: 1rem;
}

.card {
  max-width: 28.125rem;
  box-shadow: $shadow;
  background-color: $clr-white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2.5rem 2.5rem -1.25rem rgba($clr-neutral-600, 0.2);
}

.card__content {
  // padding: clamp(3rem, calc(3rem + ((1vw - 0.2rem) * 1.8182)), 4rem);
  padding: 2.5rem;
  text-align: center;
}

.card__title {
  font-size: clamp(
    1.375rem,
    calc(1.375rem + ((1vw - 0.2rem) * 0.6818)),
    1.75rem
  );
  color: $clr-neutral-600;
}

.card__description {
  margin-top: 1rem;
  max-width: 30ch;
  margin-inline: auto;
}

.plan {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  background-color: $clr-neutral-100;
  border-radius: 0.6875rem;
  padding: 1rem;
}

.plan__icon {
  margin-right: 1rem;
}

.plan__icon img {
  width: 3rem;
}

.plan__name {
  font-size: 0.875rem;
  color: $clr-neutral-600;
}

.plan__switch {
  font-weight: 500;
  font-size: 0.8125rem;
  margin-left: auto;
  color: $clr-primary-400;

  &:hover {
    color: $clr-primary-400;
    text-decoration: none;
  }
}

.card__button {
  display: block;
  margin-top: 1.5rem;
  background-color: $clr-primary-400;
  color: $clr-white;
  text-decoration: none;
  padding: 0.9375rem 3rem;
  font-weight: 700;
  box-shadow: 0 1.25rem 1.25rem rgba($clr-primary-400, 0.2);
  border-radius: 0.6875rem;
  transition: all 0.2s;

  &:hover {
    background-color: lighten($clr-primary-400, 10%);
  }
}

.card__cancel {
  display: block;
  margin-top: 1.5rem;
  text-decoration: none;
  font-weight: 700;
  color: $clr-neutral-200;
  transition: all 0.2s;

  &:hover {
    color: $clr-neutral-600;
  }
}

@media screen and (min-width: 48em) {
  body {
    background: url("../images/pattern-background-desktop.svg") no-repeat;
    background-size: 100%;
    background-color: $clr-primary-200;
  }
}
